@use '../globals/vars' as vars;

#gift {
    background-color: #e7e7e7;
}

.gift-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 1rem;

    h3 {
        color: vars.$text-color-1;
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }
}